body {
    font-family:Roboto, Raleway ,sans-serif;
    color:#757575;
    background-color: #fff;
}
.navigation-list,
.contact-list {
    list-style:none;
    letter-spacing: 0.02em;
}
.contact-link {
    color:#757575;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
}
.navigation-list .navigation-link {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
}
.navigation-list .navigation-link:hover,
.navigation-list .navigation-link:focus,
.contact-link:hover,
.contact-link:focus {
    color:#2196f3;
}
 .navigation-list .accent-navigation {
 color:#2196f3;
}
.list-item {
    list-style: none;
}
.button {
    cursor: pointer;
    color:212121;
    background-color: #fff;
    border: 0px;
    font-family: Roboto, sens-serif;
    font-size: 16px;
    font-weight: 500;
    line-height:1.63;
    letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
    color:#ffffff;
    background-color: #2196f3;
}
.accent-button{
    color: #fff;
    background-color: #2196f3;
}
.header-logo {
    color:#000;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.accent {
    color:#2196f3;
}
.hiro {
    background-color: #2f303a;
}
.hiro-title {
    color:#fff;
    font-size: 44px;
    font-weight: 900;
    line-height:1.36 ;
    text-align: center;
    letter-spacing: 0.06em;
}
.hiro-button {
    cursor: pointer;
    font-family: Roboto, sens-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    color: #fff;
    background-color: #2196f3;
    border: 0px;
    letter-spacing: 0.06em;
}
.caption {
    color:#212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.title {
    color:#212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.advantage .title {
    text-transform: uppercase;
}
.text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer {
    background-color: #2f303a;
}
.footer-link {
    text-decoration: none;
    color: #757575;
    font-family: Roboto, sens-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-link:hover {
    color:#fff;
}
.footer-logo {
    text-decoration: none;
    font-family: Raleway, sens-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color:#fff;
    letter-spacing: 0.03em;
}